TbotWS/WebContent/wsdl/AccountService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://services.tbot.org" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://services.tbot.org" xmlns:intf="http://services.tbot.org" xmlns:tns1="http://dto.tbot.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://services.tbot.org" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://dto.tbot.org"/>
   <element name="obtenerVillas">
    <complexType>
     <sequence>
      <element name="hashLogin" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="obtenerVillasResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="obtenerVillasReturn" type="tns1:Village"/>
     </sequence>
    </complexType>
   </element>
   <element name="initialize">
    <complexType>
     <sequence>
      <element name="login" type="xsd:string"/>
      <element name="pass" type="xsd:string"/>
      <element name="Server" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="initializeResponse">
    <complexType>
     <sequence>
      <element name="initializeReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://dto.tbot.org" xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType name="Resources">
    <sequence>
     <element name="clay" nillable="true" type="xsd:string"/>
     <element name="granary" nillable="true" type="xsd:string"/>
     <element name="iron" nillable="true" type="xsd:string"/>
     <element name="pclay" nillable="true" type="xsd:string"/>
     <element name="piron" nillable="true" type="xsd:string"/>
     <element name="pwheat" nillable="true" type="xsd:string"/>
     <element name="pwood" nillable="true" type="xsd:string"/>
     <element name="store" nillable="true" type="xsd:string"/>
     <element name="unkeep" nillable="true" type="xsd:string"/>
     <element name="wheat" nillable="true" type="xsd:string"/>
     <element name="wood" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="Village">
    <sequence>
     <element name="finishTime" nillable="true" type="xsd:long"/>
     <element name="id" nillable="true" type="xsd:string"/>
     <element name="name" nillable="true" type="xsd:string"/>
     <element name="totalResources" nillable="true" type="tns1:Resources"/>
     <element name="x" nillable="true" type="xsd:string"/>
     <element name="y" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="obtenerVillasRequest">

      <wsdl:part element="impl:obtenerVillas" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="initializeRequest">

      <wsdl:part element="impl:initialize" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="obtenerVillasResponse">

      <wsdl:part element="impl:obtenerVillasResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="initializeResponse">

      <wsdl:part element="impl:initializeResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="AccountService">

      <wsdl:operation name="obtenerVillas">

         <wsdl:input message="impl:obtenerVillasRequest" name="obtenerVillasRequest">

       </wsdl:input>

         <wsdl:output message="impl:obtenerVillasResponse" name="obtenerVillasResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="initialize">

         <wsdl:input message="impl:initializeRequest" name="initializeRequest">

       </wsdl:input>

         <wsdl:output message="impl:initializeResponse" name="initializeResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="AccountServiceSoapBinding" type="impl:AccountService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="obtenerVillas">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="obtenerVillasRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="obtenerVillasResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="initialize">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="initializeRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="initializeResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="AccountServiceService">

      <wsdl:port binding="impl:AccountServiceSoapBinding" name="AccountService">

         <wsdlsoap:address location="http://localhost:8080/TbotWS/services/AccountService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
